Repository cloud-native-toolkit/terraform-tools-dashboard, pull requests merged in 2021-05, with the labels that each got.

#32 Changes by create-pull-request action
  variables.tf
Labels: automerge, chore, patch

#33 fix broken update image
  .github/scripts/update-image-version.sh
Labels: automerge

#34 fix verify devops
  .github/workflows/automerge.yaml
  .github/workflows/create-pr.yaml
  .github/workflows/verify.yaml
  test/stages/stage1-cluster.tf
  test/stages/stage1-namespaces.tf
  test/stages/stage1b-capture-state.tf
Labels: chore

#35 Updates to
  variables.tf
Labels: automerge, chore, patch
